.mobile-text{
    display: none;
}

@media (max-width: 768px){
    .mobile-text{
        display: block;
    }
    .mobile-text a{
        font-weight: 900;
        color: inherit; /* herda a color do pai */
    }
    .icon{
        color: var(--text-color-dark);
    }
    .form-button{
        padding: 5px;
    }
}
@media (max-width: 340px) {
    .form-input{
        width: 95%;
    }
    .label-input{
        padding: 0px 10px;
        display: flex;
        align-items: center;
    }
}